@font-face {
    font-family: "Piazzolla";
    font-style: normal; 
    font-weight: 400;
    src: local("Petrona"),
             url("./Fonts/Piazzolla-Regular.woff") format("woff"),
 }

 @font-face {
    font-family: "Piazzolla-Bold";
    font-style: normal; 
    font-weight: 700;
    src: local("Petrona"),
             url("./Fonts/Piazzolla-Regular.woff") format("woff"),
 }


 @font-face {
    font-family: "Montserrat";
    font-style: normal; 
    font-weight: 400;
    src: local("Montserrat"),
             url("./Fonts/Montserrat-Regular.woff") format("woff"),
 }
